<ion-content [fullscreen]="true" class="flex justify-center items-center h-screen p-0">
  <!-- Centralized Login Form -->
  <form [formGroup]="profileForm" class="login-container m-auto p-[50px] max-w-[600px] text-center bg-white shadow-xl rounded-[15px] h-[100vh] lg:h-auto lg:mt-[6.25rem]">
    <div class="second-login-container relative sm:top-0 top-[10rem]">
      <h2 class="login-title text-[30px] mb-[1rem] font-bold">Welcome Back</h2>
      <h3 class="no-account">
        Don’t have an account?
        <span class="text-[#0054e9] cursor-pointer" (click)="createAccount()">Create a new account</span>
      </h3>

      <!-- User Name Input -->
      <div class="sm:col-span-4 input-field">
        <label for="user-name" class="block text-sm font-medium leading-6"></label>
        <div class="mt-5 relative">
          <input
            type="text"
            placeholder="User Name"
            id="user-name"
            formControlName="userName"
            [ngClass]="{
              'border-red-800 ring-red-800 focus:ring-red-800': submitted && profileForm.controls['userName'].invalid
            }"
            class="bg-[#f5fbff] block w-full rounded-md border-0 border-[#97d2ec] py-1.5 text-base text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-base placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#97d2ec]"
          />
          <div *ngIf="submitted && profileForm.controls['userName'].invalid" class="text-red-800 text-sm font-bold mt-1">
            User Name is required and must be at least 4 characters long.
          </div>
        </div>
      </div>

      <!-- Password Input -->
      <div class="sm:col-span-3 input-field mt-4">
        <label for="password" class="block text-sm font-medium leading-6"></label>
        <div class="relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            id="password"
            formControlName="password"
            [ngClass]="{
              'border-red-800 ring-red-800 focus:ring-red-800': submitted && profileForm.controls['password'].invalid
            }"
            class="bg-[#f5fbff] block w-full rounded-md border-0 border-[#97d2ec] py-1.5 text-base text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-base placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#97d2ec]"
          />
          <div *ngIf="submitted && profileForm.controls['password'].invalid" class="text-red-800 text-sm font-bold mt-1">
            Password is required and must include at least 8 characters, 1 uppercase, 1 special character, and 1 number.
          </div>
          <div class="absolute inset-y-0 right-2 flex items-center cursor-pointer" (click)="toggleShow()">
            <img
              [src]="showPassword ? 'assets/icon/eye-off.svg' : 'assets/icon/eye.svg'"
              alt="Toggle Password Visibility"
              width="16"
              height="16"
            />
          </div>
        </div>
      </div>

      <!-- Sign In Button -->
      <ion-button
        expand="block"
        class="login-button w-[80%] sm:w-full max-w-[400px] m-auto mt-[20px] text-[18px] h-[55px] rounded-[11px] bg-[#007bff] text-white border-none cursor-pointer hover:bg-[#0056b3]"
        (click)="onSignIn()"
        [disabled]="loading"
      >
        Sign In
      </ion-button>

      <!-- Back to Welcome Page -->
      <ion-button
        expand="block"
        class="back-button w-[80%] sm:w-full max-w-[400px] m-auto mt-[20px] text-[18px] h-[55px] rounded-[5px] bg-[#007bff] text-white border-none cursor-pointer hover:bg-[#0056b3]"
        (click)="goBack()"
      >
        Back to Welcome Page
      </ion-button>
    </div>
  </form>
</ion-content>
