<ion-content [fullscreen]="true">
  <div class="login-container">
    <h2 class="login-title">Sign In</h2>

    <div class="input-container">
      <ion-item lines="none" class="login-input" [class.error]="submitted && usernameInput.invalid">
        <ion-input
          [(ngModel)]="username"
          type="text"
          placeholder="Username"
          required
          #usernameInput="ngModel">
        </ion-input>
        <!-- Red "X" Icon -->
        <span *ngIf="submitted && usernameInput.invalid"
              class="error-x">
                  X
                </span>
      </ion-item>
      <div *ngIf="submitted && usernameInput.invalid" class="error">
        Username is required.
      </div>
    </div>

    <div class="input-container">
      <ion-item lines="none" class="login-input" [class.error]="submitted && passwordInput.invalid">
        <ion-input
          [(ngModel)]="password"
          [type]="passwordType"
          placeholder="Password"
          required
          minlength="8"
          #passwordInput="ngModel">
        </ion-input>
        <!-- Red "X" Icon -->
        <span *ngIf="submitted && passwordInput.invalid"
              class="error-x">
                  X
                </span>
      </ion-item>
      <div *ngIf="submitted && passwordInput.invalid" class="error">
        Password is required and must be at least 8 characters.
      </div>
    </div>

    <ion-button expand="block" class="login-button" (click)="onSignIn()">
      Sign In
    </ion-button>

    <ion-button expand="block" class="back-button" (click)="goBack()">
      Back to Welcome Page
    </ion-button>
  </div>
</ion-content>
