<ion-content [fullscreen]="true" class="flex justify-center items-center h-screen p-0">
  <div
    class="login-container m-auto p-[50px] max-w-[600px] text-center bg-white shadow-xl rounded-[15px] h-[100vh] lg:h-auto lg:mt-[6.25rem]"
  >
    <div class="second-login-container relative sm:top-0 top-[10rem]">
      <h2 class="login-title text-[30px] mb-[1rem] font-bold">Welcome Back</h2>
      <h3 class="no-account">
        Don’t have an account?
        <span class="text-[#0054e9] cursor-pointer" (click)="createAccount()">Create a new account</span>
      </h3>

      <!-- User Name -->
      <div class="sm:col-span-3 input-field">
        <label for="userName" class="block text-sm font-medium leading-6"></label>
        <div class="mt-5 relative">
          <input
            type="text"
            placeholder="User Name"
            name="userName"
            id="userName"
            formControlName="userName"
            autocomplete="family-name"

            class="bg-[#f5fbff] block w-full rounded-md border-0 border-[#97d2ec] py-1.5 text-base text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-base placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#97d2ec] sm:leading-6"
          />

      </div>

      <!-- Password -->
      <div class="sm:col-span-3 input-field">
        <label for="password" class="block text-sm font-medium leading-6"></label>
        <div class="mt-2 relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            name="password"
            id="password"
            formControlName="password"
            autocomplete="new-password"

            class="bg-[#f5fbff] block w-full rounded-md border-0 border-[#97d2ec] py-1.5 text-base text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-base placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#97d2ec] sm:leading-6"
          />

          <div class="absolute inset-y-0 right-2 flex items-center">
            <img
              [src]="showPassword ? 'assets/icon/eye-off.svg' : 'assets/icon/eye.svg'"
              alt="Toggle Password Visibility"
              class="cursor-pointer"
              (click)="toggleShow()"
              width="16"
              height="16"
            />
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <ion-button
        expand="block"
        class="login-button w-[80%] sm:w-full max-w-[400px] m-auto mt-[20px] text-[18px] h-[55px] rounded-[11px] bg-[#007bff] text-white"
        (click)="onSignIn()"
        [disabled]="loading"
      >
        Sign In
      </ion-button>

      <ion-button
        expand="block"
        class="back-button w-[80%] sm:w-full max-w-[400px] m-auto mt-[20px] text-[18px] h-[55px] rounded-[7px] bg-[#007bff] text-white"
        (click)="goBack()"
      >
        Back to Welcome Page
      </ion-button>
    </div>
  </div>
  </div>
</ion-content>
