#user-name, #password {
  line-height: 2.5rem;
}
.no-account a{
  color: #0054e9;
}
.input-field {
  padding: 0 1rem;
}

.login-input {
  margin-bottom: 15px;       // Increase the margin between inputs
}
