<div class="add-family-form" [formGroup]="addFamilyMemberForm">
  <div class="flex flex-row space-x-3 w-full">
    <!-- LEFT SIDE -->
    <div class="flex flex-col flex-grow">
      <!-- todo: add some spacing for error msg?-->
      <!-- relationship ... add x + -->
      <div class="flex justify-between items-center">
        <label for="input-name-box" class="text-sm">{{relationshipType}}</label>
        <button (click)="addFamilyMember()">
          <div class="text-blue-800 text-xs font-semibold">Add {{relationshipType}}+</div>
        </button>
      </div>

      <!-- name input box -->
      <input type="text"
             placeholder="Enter Name..."
             id="input-name-box"
             autocomplete="given-name"
             formControlName="name"
             class="form-control text-sm block rounded-md border-[#97d2ec] ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec] sm:text-sm sm:leading-6">
      <div *ngIf="addFamilyMemberForm.controls['name'].errors?.['required'] && submitted" class="text-red-700 text-xs">
        Name required.
      </div>

      <!-- related to -->
      <div *ngIf="relatedRelationshipType !== '' && relatedRelationshipTypeForm" class="w-full">
        <div class="items-center">
          <label for="relatedPersonName" class="text-sm">{{relatedRelationshipType}} Of</label>
        </div>
        <select class="form-control text-sm block rounded-md bg-gray-100 w-full border-[#97d2ec] ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec]"
                id="relatedPersonName"
                formControlName="relatedPersonName">
          <option disabled selected></option>
          <option *ngFor="let person of relatedRelationshipTypeForm?.get('familyMembers')?.value" [value]="person.name">
            {{ person.name }}
          </option>
        </select>
      </div>
    </div>

    <!-- RIGHT SIDE-->
    <div class="flex flex-col">
      <!-- gender -->
      <label for="gender" class="text-sm">Gender</label>
      <select class="form-control text-sm block rounded-md bg-gray-100 border-[#97d2ec] ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec]"
              id="gender"
              formControlName="gender">
        <option disabled selected></option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>

      <!-- birth date -->
      <div class="items-center">
        <label for="birthDate" class="text-sm">Birth Date</label>
      </div>
      <input type="date"
             class="form-control text-sm block rounded-md border-[#97d2ec] ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec]"
             id="birthDate"
             formControlName="birthDate">
    </div>
  </div>
  <!-- List of family members -->
  <div class="text-align-center ml-11" formArrayName="familyMembers">
    <ul
      *ngFor="let member of familyMembers.controls; let i = index"
      class="mt-3 flex items-center w-full">
      <div class="flex items-center">
        <span class="ml-3 w-2 h-2 bg-blue-800 rounded-full"></span> <!-- Blue dot bullet point -->
        <span class="ml-5 text-sm">{{member.get('name')?.value}}</span>
        <span class="ml-1 text-gray-500 text-sm">({{member.get('type')?.value}})</span>
      </div>
      <button (click)="removeFamilyMember(i)" class="ml-auto mr-1 text-[#0D4C92] text-xs text-semibold">
        Remove
      </button>
    </ul>
  </div>
</div>
