<ion-content [fullscreen]="true" class="ion-padding">
  <div class="flex flex-col min-h-screen p-2">
    <div class="text-black text-xl mt-2 p-2 font-inter font-bold">Add To Family Tree</div>
    <div class="text-center text-xs mt-6 font-bold text-blue-800">Step 3 of 4</div>
    <div class="flex justify-center mt-1 mb-5">
      <span class="w-2 h-2 bg-blue-800 rounded-full mx-1"></span>
      <span class="w-2 h-2 bg-blue-800 rounded-full mx-1"></span>
      <span class="w-2 h-2 bg-blue-300 rounded-full mx-1"></span>
    </div>

    <app-family-member-form
      [relationshipType]="'Parents'"
      [relationshipTypeDropdownArray]="['Dad', 'Mom', 'Stepdad', 'Stepmom']"
      [familyMemberForm]="parentsForm">
    </app-family-member-form>

    <app-family-member-form
      [relationshipType]="'Grandparents'"
      [relationshipTypeDropdownArray]="['Grandma', 'Grandpa']"
      [familyMemberForm]="grandparentsForm">
    </app-family-member-form>

    <app-family-member-form
      [relationshipType]="'Siblings'"
      [relationshipTypeDropdownArray]="['Brother', 'Sister']"
      [familyMemberForm]="siblingsForm">
    </app-family-member-form>

    <app-family-member-form
      [relationshipType]="'Spouse'"
      [relationshipTypeDropdownArray]="['Husband', 'Wife']"
      [familyMemberForm]="spouseForm">
    </app-family-member-form>

    <app-family-member-form
      [relationshipType]="'Children'"
      [relationshipTypeDropdownArray]="['Daughter', 'Son']"
      [familyMemberForm]="childrenForm">
    </app-family-member-form>

    <app-family-member-form
      [relationshipType]="'Uncles'"
      [familyMemberForm]="unclesForm">
    </app-family-member-form>

    <div class="mb-5"></div>

    <!-- Crest Upload Option -->
    <!--<div class="flex justify-center items-center space-x-4 m-7">
      &lt;!&ndash; Upload box &ndash;&gt;
      <div class="w-72 h-72 bg-gray-100 border-2 border-dashed flex flex-col justify-end" (click)="fileInput.click()">
        <div class="font-inter font-bold text-2xl text-center text-black mb-3">Upload Crest (optional)</div>
        <div class="font-inter text-xl text-center text-gray-400 mb-3">Click here to upload image</div>
        <input type="file" #fileInput (change)="onFileChange($event)" accept="image/" class="hidden"/>
      </div>

      <input id="crest-upload" type="file" class="hidden"/>

      &lt;!&ndash; Preview box &ndash;&gt;
      <div class="crest-photo grid col-span-full place-items-center w-72 h-72 bg-gray-100">
        <img *ngIf="selectedImage" [src]="selectedImage" alt="Uploaded Image" class="h-full w-full object-cover"/>

      </div>
    </div>
    -->


    <!-- Buttons -->
    <div class="mt-auto mb-10 flex items-center justify-center gap-x-6">
      <button type="button" class="text-gray-800 bg-gray-100 px-4 py-2 rounded-md hover:bg-gray-200">
        Back
      </button>
      <button type="submit"  class="bg-[#0D4C92] text-white px-6 py-2 rounded-md hover:bg-blue-800 shadow">
        Add to family
      </button>
      <button type="button" class="text-gray-800 bg-red-100 px-4 py-2 rounded-md hover:bg-red-200" (click)="clearPage()">
        Clear
      </button>
    </div>
  </div>
</ion-content>
<ion-footer><app-footer-navigation></app-footer-navigation></ion-footer>
