<ion-card>
  <ion-img [src]="eventImageUrl"></ion-img>
  <ion-card-header>
    <ion-card-title>{{ eventTitle }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="event-detail">
      <img src="assets/icon/calendar.png" alt="Calendar Icon" class="icon" />
      <span>{{ eventDate }}</span>
    </div>
    <div class="event-detail">
      <img src="assets/icon/clock.png" alt="Time Icon" class="icon" />
      <span>{{ eventTime }}</span>
    </div>
    <div class="event-detail">
      <img src="assets/icon/waypoint.png" alt="Location Icon" class="icon" />
      <span>{{ eventLocation }}</span>
    </div>

    <div class="event-description">
      <h2>Event Details</h2>
      {{ eventDescription }}
    </div>
  </ion-card-content>
</ion-card>
