
<ion-content [fullscreen]="true">
  <h1 class="m-9 font-bold font-inter">Add To Family Tree</h1>
 <form class="">

<!--   This is for the parents-->
   <div class="mr-5 ml-5 flex gap-x-6 g">
     <div class="w-5/6">
       <div class="flex justify-between">
         <label for="parent-name" class="block text-sm font-medium leading-6 text-gray-900">Parents</label>
         <button class="color-blue" (click)="getParents($event)">Add Parents+</button>
       </div>
       <input type="text"
              placeholder="Enter Name..."
              [(ngModel)]="parentName"
              name="first-name"
              id="parent-name"
              autocomplete="given-name"
              class="input-create-account  block w-full rounded-md border-[#97d2ec] py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec] sm:text-sm sm:leading-6 bg-rgba(245,251,255,1)">

     </div>
       <div class="flex m-5 w-1/6">
         <select id="parent"
                 name="parent"
                 [(ngModel)]="parentType"
                 class="flex rounded-md border-0 py-2 bg-gray-100  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#97d2ec] sm:text-sm">
           <option value="mom">MOM</option>
           <option value="dad">DAD</option>
         </select>
       </div>
   </div>

   <div
     *ngIf="parentsList.length>0"
     class="show-parent text-align-center ml-11 mr-11">
     <ul
       *ngFor="let parent of parentsList; let i = index"
       class="flex justify-evenly">
       <li>{{parent.name}}({{parent.type}}) </li>
       <button (click)="removeParent(i)" class="text-[#0D4C92]">Remove</button>
     </ul>
   </div>

<!--   This is for Grand Parents-->
   <div class="mr-5 ml-5 flex gap-x-6">
     <div class="w-5/6">
       <div class="flex justify-between">
         <label for="grand-parent-name" class="block text-sm font-medium leading-6 text-gray-900">Grandparents</label>
         <button class="color-blue" (click)="getGrandParents($event)">Add Grandparents+</button>
       </div>
       <input type="text"
              placeholder="Enter Name..."
              [(ngModel)]="grandParentName"
              name="first-name"
              id="grand-parent-name"
              autocomplete="given-name"
              class="input-create-account  block w-full rounded-md border-[#97d2ec] py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec] sm:text-sm sm:leading-6 bg-rgba(245,251,255,1)">

     </div>
     <div class="m-5 w-1/6">
       <select id="grand-parent"
               name="parent"
               [(ngModel)]="grandParentType"
               class="flex rounded-md border-0 py-2 bg-gray-100  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#97d2ec] sm:text-sm">
         <option value="Grandma">Grandma</option>
         <option value="Grandpa">Grandpa</option>
       </select>
     </div>
   </div>
   <div
     *ngIf="grandParentList.length>0"
     class="show-parent text-align-center ml-11 mr-11">
     <ul
       *ngFor="let grandParent of grandParentList; let i = index"
       class="flex justify-evenly">
       <li>{{grandParent.name}}({{grandParent.type}}) </li>
       <button (click)="removeGrandParent(i)" class="text-[#0D4C92]">Remove</button>
     </ul>
   </div>


<!--   this is for siblings-->
   <div class="mr-5 ml-5 flex gap-x-6">
     <div class="w-5/6">
       <div class="flex justify-between">
         <label for="grand-parent-name" class="block text-sm font-medium leading-6 text-gray-900">Siblings</label>
         <button class="color-blue" (click)="getSiblings($event)">Add Siblings+</button>
       </div>
       <input type="text"
              placeholder="Enter Name..."
              [(ngModel)]="siblingName"
              name="first-name"
              id="siblings-name"
              autocomplete="given-name"
              class="input-create-account  block w-full rounded-md border-[#97d2ec] py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec] sm:text-sm sm:leading-6 bg-rgba(245,251,255,1)">

     </div>
     <div class="m-5 w-1/6">
       <select id="Sibling"
               name="parent"
               [(ngModel)]="siblingType"
               class="flex rounded-md border-0 py-2 bg-gray-100  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#97d2ec] sm:text-sm">
         <option value="Brother">Brother</option>
         <option value="Sister">Sister</option>
       </select>
     </div>
   </div>

   <div
     *ngIf="siblingList.length>0"
     class="show-parent text-align-center ml-11 mr-11">
     <ul
       *ngFor="let siblings of siblingList; let i = index"
       class="flex justify-evenly">
       <li>{{siblings.name}}({{siblings.type}}) </li>
       <button (click)="removeSiblings(i)" class="text-[#0D4C92]">Remove</button>
     </ul>
   </div>

<!--   This is for Spouse-->
   <div class="mr-5 ml-5 flex gap-x-6">
     <div class="w-5/6">
       <div class="flex justify-between">
         <label for="grand-parent-name" class="block text-sm font-medium leading-6 text-gray-900">Spouse</label>
         <button class="color-blue" (click)="getSpouse($event)">Add Spouse+</button>
       </div>
       <input type="text"
              placeholder="Enter Name..."
              [(ngModel)]="spouseName"
              name="first-name"
              id="spouse-name"
              autocomplete="given-name"
              class="input-create-account  block w-full rounded-md border-[#97d2ec] py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec] sm:text-sm sm:leading-6 bg-rgba(245,251,255,1)">

     </div>
     <div class="m-5 w-1/6">
       <select id="spouse"
               name="spouse"
               [(ngModel)]="spouseType"
               class="flex rounded-md border-0 py-2 bg-gray-100  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#97d2ec] sm:text-sm">
         <option value="Husband">Husband</option>
         <option value="Wife">Wife</option>
       </select>
     </div>
   </div>

   <div
     *ngIf="spouseList.length>0"
     class="show-parent text-align-center ml-11 mr-11">
     <ul
       *ngFor="let spouse of spouseList; let i = index"
       class="flex justify-evenly">
       <li>{{spouse.name}}({{spouse.type}}) </li>
       <button (click)="removeSpouse(i)" class="text-[#0D4C92]">Remove</button>
     </ul>
   </div>

<!--   This is for children-->
   <div class="mr-5 ml-5 flex gap-x-6">
     <div class="w-5/6">
       <div class="flex justify-between">
         <label for="grand-parent-name" class="block text-sm font-medium leading-6 text-gray-900">Children</label>
         <button class="color-blue" (click)="getChildren($event)">Add Children+</button>
       </div>
       <input type="text"
              placeholder="Enter Name..."
              [(ngModel)]="childrenName"
              name="first-name"
              id="children-name"
              autocomplete="given-name"
              class="input-create-account  block w-full rounded-md border-[#97d2ec] py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec] sm:text-sm sm:leading-6 bg-rgba(245,251,255,1)">

     </div>
     <div class="m-5 w-1/6">
       <select id="children"
               name="spouse"
               [(ngModel)]="childrenType"
               class="flex rounded-md border-0 py-2 bg-gray-100  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#97d2ec] sm:text-sm">
         <option value="Son">Son</option>
         <option value="Daughter">Daughter</option>
       </select>
     </div>
   </div>

   <div
     *ngIf="childrenList.length>0"
     class="show-parent text-align-center ml-11 mr-11">
     <ul
       *ngFor="let children of childrenList; let i = index"
       class="flex justify-evenly">
       <li>{{children.name}}({{children.type}}) </li>
       <button (click)="removeChildren(i)" class="text-[#0D4C92]">Remove</button>
     </ul>
   </div>

<!--   buttons-->
   <div class="mt-10 flex items-center justify-center gap-x-6">
     <button type="button" class="text-gray-800 bg-gray-100 px-4 py-2 rounded-md hover:bg-gray-200">
       Back
     </button>
     <button type="submit"  class="bg-[#0D4C92] text-white px-6 py-2 rounded-md hover:bg-blue-800 shadow">Next
     </button>
     <button type="button" class="text-gray-800 bg-red-100 px-4 py-2 rounded-md hover:bg-red-200">
       Clear
     </button>
   </div>
 </form>
</ion-content>
