<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Event Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex flex-col justify-center items-center min-h-screen p-4">
  <app-event-details
    [eventTitle]="eventTitle"
    [eventDate]="eventDate"
    [eventTime]="eventTime"
    [eventLocation]="eventLocation"
    [eventDescription]="eventDescription"
    [eventImageUrl]="eventImageUrl"
    class="w-full max-w-4xl">
  </app-event-details>

  <ion-card class="max-w-md mx-auto shadow-none">
    <ion-card-header>
      <ion-card-title class="text-xl font-bold">Sign Up for the Event</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-event-registration-form></app-event-registration-form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="w-full"><app-footer-navigation></app-footer-navigation></ion-footer>
