<!-- Event Signup Page -->
<ion-content class="flex flex-col justify-center items-center min-h-screen p-4">
  <app-event-details
    [eventTitle]="eventTitle"
    [eventDate]="eventDate"
    [eventTime]="eventTime"
    [eventLocation]="eventLocation"
    [eventDescription]="eventDescription"
    [eventImageUrl]="eventImageUrl"
    class="w-full max-w-4xl">
  </app-event-details>

  <ion-card class="w-full max-w-4xl p-8 rounded-lg shadow-md mx-auto">
    <ion-card-header>
      <ion-card-title class="text-xl font-bold">Sign Up for the Event</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-event-registration-form></app-event-registration-form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="w-full"><app-footer-navigation></app-footer-navigation></ion-footer>
