<ion-content [fullscreen]="true" class="ion-padding">
  <div class="flex flex-col min-h-screen p-2">
    <div class="text-black text-xl mt-2 p-2 font-inter font-bold">Add To Family Tree</div>
    <div class="text-center text-xs mt-6 font-bold text-blue-800">Step 2 of 4</div>
    <div class="flex justify-center mt-1 mb-5">
      <span class="w-2 h-2 bg-blue-800 rounded-full mx-1"></span>
      <span class="w-2 h-2 bg-blue-800 rounded-full mx-1"></span>
      <span class="w-2 h-2 bg-blue-300 rounded-full mx-1"></span>
    </div>

    <app-family-member-form
      [relationshipType]="'Parents'"
      [relationshipTypeDropdownArray]="['Dad', 'Mom', 'Stepdad', 'Stepmom']">
    </app-family-member-form>

    <app-family-member-form
      [relationshipType]="'Grandparents'"
      [relationshipTypeDropdownArray]="['Grandma', 'Grandpa']">
    </app-family-member-form>

    <app-family-member-form
      [relationshipType]="'Siblings'"
      [relationshipTypeDropdownArray]="['Brother', 'Sister']">
    </app-family-member-form>

    <app-family-member-form
      [relationshipType]="'Spouse'"
      [relationshipTypeDropdownArray]="['Husband', 'Wife']">
    </app-family-member-form>

    <app-family-member-form
      [relationshipType]="'Children'"
      [relationshipTypeDropdownArray]="['Daughter', 'Son']">
    </app-family-member-form>

<!--    <div class="mb-5"></div>-->

    <!-- Buttons -->
    <div class="mt-3 flex items-center justify-center gap-x-6">
      <button type="button" class="text-gray-800 bg-gray-100 px-4 py-2 rounded-md hover:bg-gray-200" [routerLink]="['/create-account']">
        Back
      </button>
      <button type="submit" class="bg-[#0D4C92] text-white px-6 py-2 rounded-md hover:bg-blue-800 shadow" [routerLink]="['/add-family-step-3']">
        Next
      </button>
      <button type="button" class="text-gray-800 bg-red-100 px-4 py-2 rounded-md hover:bg-red-200" (click)="clearPage()">
        Clear
      </button>
    </div>
  </div>
</ion-content>

<ion-footer><app-footer-navigation></app-footer-navigation></ion-footer>
