<ion-content class="flex flex-col justify-center items-center text-center h-full p-5">
  <!-- Image section -->


  <!-- Welcome message -->
  <h1 class="text-2xl font-bold text-blue-600 mb-4">Welcome to My Family!!</h1>

  <!-- Subtitle text -->
  <p class="text-gray-500 text-base mb-6 px-6">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <!-- Sign In and Create Account buttons -->
  <ion-button expand="block" fill="solid" color="primary" class="w-4/5 mb-4" (click)="navigateToSignIn()">
    Sign In
  </ion-button>

  <ion-button expand="block" fill="outline" color="primary" class="w-4/5" (click)="navigateToCreateAccount()">
    Create Account
  </ion-button>
</ion-content>
