<!-- navigation-footer.component.html -->
<ion-footer class="bg-light">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="bg-light h-16">
        <ion-tab-button tab="home" [routerLink]="['/home']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}"
                        class="text-medium hover:opacity-80 transition-opacity px-1">
          <img ngSrc="assets/icon/home.png" alt="Home"
               height="512" width="512"
               class="w-5 h-5 opacity-60 filter grayscale selected:opacity-100 selected:filter-none">
          <ion-label class="text-[12px] leading-tight">Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="family" [routerLink]="['/family-tree']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}"
                        class="text-medium hover:opacity-80 transition-opacity px-1">
          <img ngSrc="assets/icon/family-icon.png" alt="Family"
               height="512" width="512"
               class="w-5 h-5 opacity-60 filter grayscale selected:opacity-100 selected:filter-none">
          <ion-label class="text-[12px] leading-tight">Family</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile" [routerLink]="['/profile']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}"
                        class="text-medium hover:opacity-80 transition-opacity px-1">
          <img ngSrc="assets/icon/profile.png" alt="Profile"
               height="512" width="512"
               class="w-5 h-5 opacity-60 filter grayscale selected:opacity-100 selected:filter-none">
          <ion-label class="text-[12px] leading-tight">Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="chat" [routerLink]="['/chat']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}"
                        class="text-medium hover:opacity-80 transition-opacity px-1">
          <img ngSrc="assets/icon/chat.png" alt="Chat"
               height="512" width="512"
               class="w-5 h-5 opacity-60 filter grayscale selected:opacity-100 selected:filter-none">
          <ion-label class="text-[12px] leading-tight">Chat</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
