<ion-content [fullscreen]="true">
  <h1 class="m-9 text-3xl font-bold font-inter size">Add To Family Tree</h1>
  <form class="">
    <h2 class="text-base text-center mt-4 font-bold text-blue-800">Step 3 of 4</h2>
    <div class="flex justify-center mt-2">
      <span class="w-2 h-2 bg-blue-800 rounded-full mx-1"></span>
      <span class="w-2 h-2 bg-blue-800 rounded-full mx-1"></span>
      <span class="w-2 h-2 bg-blue-300 rounded-full mx-1"></span>
    </div>

    <!-- This is for cousins -->
    <div class="ml-9 mr-9 flex gap-x-6 g justify-center">
      <div class="w-full">
        <div class="flex justify-between">
          <label for="cousin-name" class="block font-medium leading-6">Cousins</label>
          <button class="color-blue" (click)="getCousins($event)">
            <div class="sub-header text-sm text-blue-800">Add Cousins +</div>
          </button>
        </div>
        <input type="text"
               placeholder="Enter Name..."
               [(ngModel)]="cousinName"
               name="first-name"
               id="cousin-name"
               autocomplete="given-name"
               class="input-create-account  block w-full rounded-md border-[#97d2ec] py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec] sm:text-sm sm:leading-6 bg-rgba(245,251,255,1)">
      </div>
    </div>

    <div
      *ngIf="cousinsList.length>0"
      class="show-parent text-align-center ml-11 mr-11">
      <ul
        *ngFor="let cousin of cousinsList; let i = index"
        class="flex justify-between items-center">
        <span class="w-2 h-2 bg-blue-800 rounded-full"></span>
        <li>{{cousin.name}}</li>
        <button (click)="removeCousin(i)" class="text-[#0D4C92]">Remove</button>
      </ul>
    </div>

    <!-- This is for uncles -->
    <div class="ml-9 mr-9 flex gap-x-6 g justify-center">
      <div class="w-full">
        <div class="flex justify-between">
          <label for="uncle-name" class="block font-medium leading-6 text-gray-900">Uncles</label>
          <button class="color-blue" (click)="getUncles($event)">
            <div class="sub-header text-sm text-blue-800">Add Uncles +</div>
          </button>
        </div>
        <input type="text"
               placeholder="Enter Name..."
               [(ngModel)]="uncleName"
               name="first-name"
               id="uncle-name"
               autocomplete="given-name"
               class="input-create-account  block w-full rounded-md border-[#97d2ec] py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec] sm:text-sm sm:leading-6 bg-rgba(245,251,255,1)">
      </div>
    </div>

    <div
      *ngIf="unclesList.length>0"
      class="show-parent text-align-center ml-11 mr-11">
      <ul
        *ngFor="let uncle of unclesList; let i = index"
        class="flex justify-between items-center">
        <span class="w-2 h-2 bg-blue-800 rounded-full"></span>
        <li>{{uncle.name}}</li>
        <button (click)="removeUncle(i)" class="text-[#0D4C92]">Remove</button>
      </ul>
    </div>


    <!-- This is for aunts -->
    <div class="ml-9 mr-9 flex gap-x-6 g justify-center">
      <div class="w-full">
        <div class="flex justify-between">
          <label for="aunt-name" class="block font-medium leading-6 text-gray-900">Aunts</label>
          <button class="color-blue" (click)="getAunts($event)">
            <div class="sub-header text-sm text-blue-800">Add Aunts +</div>
          </button>
        </div>
        <input type="text"
               placeholder="Enter Name..."
               [(ngModel)]="auntName"
               name="first-name"
               id="aunt-name"
               autocomplete="given-name"
               class="input-create-account  block w-full rounded-md border-[#97d2ec] py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-[#5aaefb] active:ring-[#97d2ec] sm:text-sm sm:leading-6 bg-rgba(245,251,255,1)">
      </div>
    </div>

    <div
      *ngIf="auntsList.length>0"
      class="show-parent text-align-center ml-11 mr-11">
      <ul
        *ngFor="let aunt of auntsList; let i = index"
        class="flex justify-between items-center">
        <span class="w-2 h-2 bg-blue-800 rounded-full"></span>
        <li>{{aunt.name}}</li>
        <button (click)="removeAunt(i)" class="text-[#0D4C92]">Remove</button>
      </ul>
    </div>

    <!-- Crest Upload Option -->
    <div class="flex justify-center items-center space-x-4 m-7">
      <!-- Upload box -->
      <div class="w-72 h-72 bg-gray-100 border-2 border-dashed flex flex-col justify-end" (click)="fileInput.click()">
        <div class="font-inter font-bold text-2xl text-center text-black mb-3">Upload Crest (optional)</div>
        <div class="font-inter text-xl text-center text-gray-400 mb-3">Click here to upload image</div>
        <input type="file" #fileInput (change)="onFileChange($event)" accept="image/" class="hidden"/>
      </div>

      <input id="crest-upload" type="file" class="hidden"/>

      <!-- Preview box -->
      <div class="crest-photo grid col-span-full place-items-center w-72 h-72 bg-gray-100">
        <img *ngIf="selectedImage" [src]="selectedImage" alt="Uploaded Image" class="h-full w-full object-cover"/>

      </div>
    </div>

    <!-- buttons -->
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <button type="button" class="text-gray-800 bg-gray-100 px-4 py-2 rounded-md hover:bg-gray-200">
        Back
      </button>
      <button type="submit"  class="bg-[#0D4C92] text-white px-6 py-2 rounded-md hover:bg-blue-800 shadow">
        Add to family
      </button>
      <button type="button" class="text-gray-800 bg-red-100 px-4 py-2 rounded-md hover:bg-red-200" (click)="clearPage()">
        Clear
      </button>
    </div>
  </form>
</ion-content>
